#contact .container {
    display: grid;
    grid-template-columns: 500px auto;
    gap: 30px;
    border-radius: 10px;
    padding: 40px;
    background: var(--bg-secondary);
    
}

#contact .contact-options .options {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Add some space between the rows */
}

#contact .contact-options .flex-option {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between icon and text */
    font-size: 20px;
    color: var(--muted-foreground);
    transition: var(--transition);
}

#contact .contact-options .flex-option:hover {
    color: var(--foreground);
}

#contact .contact-options .icon-wrapper {
    background: var(--bg-accent);
    padding: 10px;
    border-radius: 50%;
    transition: var(--transition);
}

#contact .contact-options .flex-option:hover .icon-wrapper {
    color: var(--foreground);
    transform: scale(1.1);
}

#contact .contact-form {
    border-radius: 10px;
}

#contact .row {
    justify-content: space-between;
    gap: 20px;
}

#contact .control {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    background: transparent;
    color: var(--foreground);
    font-size: 15px;
    overflow: hidden;
    transition: var(--transition);
    border-bottom: solid 2px var(--border-primary);
    resize: none;
}

#contact .control:focus {
    border-color: var(--primary);
}

#contact .bottom {
    margin-top: 40px;
}

#contact .bottom .btn {
   display: block;
   padding: 20px 30px;
   width: 100%;
   max-width: 300px;
}

@media (max-width: 1100px) {
    #contact .container {
        grid-template-columns: 100%;
        gap: 50px;
    }

    #contact .contact-options .option {
        font-size: 16px;
        margin: 20px 0;
    }
    
    #contact .container p {
        text-align: center;
    }
}
